body, html {
	height: 100%;
}

.jumbotron{
	background: url("../Assets/summer.jpg");
}
/*the second jumbotron*/
.services-sectors{
	background: url("../Assets/sunset.jpg");
}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

.policy{
	margin-top:2em;
	margin-bottom:2em;
}


.tasks{
	margin-top:3em;
	margin-bottom:6em;
}


.carousel{
	margin-top: 2em;
}

.carousel-caption{
	z-index: 2;
}


#publicsector, #privatesector{
	margin-top:2em;
	margin-bottom:2em;
}

.shaded-bg{
	background-color: rgba(20,20,20,0.8);
	z-index: 1;
}

.general-procedure i::before{
 	font-size: 3em;
}
.general-procedure i{
	margin-right: 2em;
	margin-left: 2em;
}

.spaced-out{
	margin-top:5em;
	margin-bottom:5em;
}

.new-section{
	border-top: 1px solid black;
	padding-top: 5em;
}

/*give cards padding*/
.card {
	padding: 1em 1em 1em 1em;

}

.card:hover{
	transform: scale(1.05);
	z-index: 2;
	box-shadow: 1px 1px 10px 2px grey;
}


.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

