body, html {
	height: 100%;
}

.jumbotron{
	background: url("../Assets/summer.jpg");
}
/*the second jumbotron*/
.services-sectors{
	background: url("../Assets/sunset.jpg");
}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

.policy{
	margin-top:2em;
	margin-bottom:2em;
}


.tasks{
	margin-top:3em;
	margin-bottom:6em;
}


.carousel{
	margin-top: 2em;
}

.carousel-caption{
	z-index: 2;
}


#publicsector, #privatesector{
	margin-top:2em;
	margin-bottom:2em;
}

.shaded-bg{
	background-color: rgba(20,20,20,0.8);
	z-index: 1;
}


img.spaced-out{
    width:100%; /* you can use % */
    height: auto;
}

.new-section{
	border-top: 1px solid black;
	padding-top: 5em;
}

/*give cards padding*/
.card {
	padding: 1em 1em 1em 1em;
}

.card:hover{
	transform: scale(1.05);
	z-index: 2;
	box-shadow: 1px 1px 10px 2px grey;
}
.card-header a{
	text-decoration: none;
	color: b
}

.panel-collapse{
	transition: .8s;
}


.card-header a[data-toggle="collapse"]:after {
        content: "▲"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
}

.card-header a[data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
}

