body, html {
	height: 100%;
}

.jumbotron{
	background: url("../Assets/summer.jpg");
}
/*the second jumbotron*/
.services-sectors{
	background: url("../Assets/sunset.jpg");
}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

.policy{
	margin-top:2em;
	margin-bottom:2em;
}


.tasks{
	margin-top:3em;
	margin-bottom:6em;
}


.carousel{
	margin-top: 2em;
}

.carousel-caption{
	z-index: 2;
}


#publicsector, #privatesector{
	margin-top:2em;
	margin-bottom:2em;
}

.shaded-bg{
	background-color: rgba(20,20,20,0.8);
	z-index: 1;
}


