body, html {
	height: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 0;
    margin: 0;
}

.curvy {
	border-radius: 5em;
   	padding: 10px 20px 10px 20px;
}

.highlight {
  transition: all .3s;
  cursor: pointer;
  pointer-events: none;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.navbar .navbar-nav {
  width: 100%;
  justify-content: center;
  font-size: 1.2em;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 5rem;
  margin-left: 5rem;
}

.navbar{
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 3;
}

.navbar img{
	transition: all .4s ease-in;
}

.navbar img:hover{
	transform: scale(1.05);
}

.shrink {
  width: 150px;

}
