body, html {
	height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.jumbotron {
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  padding: 0;
  margin: 0;
}

/*rainbow coloured text*/
.rainbow {
    background: red;
    background: -webkit-linear-gradient(left, red , yellow, green, #0099ff,indigo, violet); /*lighter blue*/
    background: -o-linear-gradient(left, red, yellow, green, #0099ff, indigo, violet);
    background: -moz-linear-gradient(left, red, yellow, green, #0099ff, indigo, violet);
    background: linear-gradient(to right, red , yellow, green, #0099ff,indigo, violet);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.curvy {
	border-radius: 5em;
  padding: 10px 20px 10px 20px;
}

/*black line that follows links*/
.highlight {
  transition: all .2s;
  cursor: pointer;
  pointer-events: none;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

/*outline regulat text*/
.outline-basic {
  text-shadow:
     -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
/*outline transparent text*/
.outline {
    color: black;
    text-shadow:
     -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
        text-shadow: none;
    }
}

.navbar .navbar-nav {
  width: 100%;
  justify-content: center;
  font-size: 1.2em;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 5rem;
  margin-left: 5rem;
}

.navbar {
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 3;
  transition: all;
}

.navbar img{
	transition: all .4s ease-in;
}

.navbar img:hover{
	transform: scale(1.05);
}

/*standardize image size*/
.shrink {
  width: 150px;
  margin-right: 3rem;
  margin-left: 3em;
  transition: all .4s ease-in;
}

.shrink:hover{
  transform: scale(1.12);
}

.footer ul li{
	list-style: none;
	display: inline;
}

.footer .fa{
	font-size: 3em;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: white;
}

.footer .fa:hover{
	transform: scale(1.12);
}

.left{
	float: left;
}

.right{
	float: right;
}

.footer {
  background-color: black;
}

.shrink:hover{
  transform: scale(1.12);
}

.hidden-l{
  opacity: 0 !important;
  transform: translateX(-100%);

}

.hidden-r{
  opacity: 0 !important;
  transform: translateX(100%);
}
/*resize rainbow text to a standard*/
h1 span.rainbow {
  font-size: 80px;
}

