

.mainpage {
	background: url(../Assets/home.jpg); 
  height: 100% !important;
}

.rainbow {
    background: red;
    background: -webkit-linear-gradient(right, red , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: linear-gradient(to left, red , yellow, green, cyan, blue, violet);
	  background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: bold;
}

.curvy {
    position: relative;
    top: 7%;
    background-color: green;
    border-color: green;
}
.text-elements{
  position: relative;
  top: 35%;
  font-size: 1.1em;
}

.outline-basic {
  text-shadow:
     -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

.outline {
    color: black;
    text-shadow:
     -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
        text-shadow: none;
    }
}

.colorcng{
  height: 100% !important;
  background-color: rgba(200,200,200,0.5);
  background-position: none;
  background-repeat: none;
  background-size: none;
}

.dadnfo{
  padding-top: 80px;
  height: 100%;
  font-size: 0.9em;
  box-shadow: 0px 10px grey;
}

.dadnfo .left{
  position: relative;
  top: 20%;
  margin-top: 50px;
}

.dadnfo .right{
  margin-top: 50px;
}

/* Container Border */
.partners {
  background-color: white;
}

.shrink{
  transition: all .4s ease-in;
  margin: 0;
  padding: 0;
}

.shrink:hover{
  transform: scale(1.12);
}

.jumbotron .prts{
  position: relative;
  top: 35%;

}






