
main.jumbotron.mainpage.text-center{
  background: url(../Assets/home.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/*main title*/
.text-elements{
  position: relative;
  top: 20%;
}

section.color-dad-info{
    height: auto;
    background-color: white;
}

.dad-info{
  padding-top: 20px;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.dad-info .left{
  margin-top: 50px;
  margin-bottom: 10px;
  opacity: 1;
  transition: .8s all ease-in;
  float: left;
}
.dad-info .left img{
  transition: 1s all;
}

.dad-info .left img:hover{
  transform: scale(1.1);
}


.dad-info .right{
  margin-top: 50px;
  transition: .8s all ease-in;
  float: right;
}

.shrink {
  width: 150px;
  margin-right: 3rem;
  margin-left: 3em;
  transition: all .4s ease-in;
}

.shrink:hover{
  transform: scale(1.12);
}

/* parnters card */
.partners {
  background-color: white;
  background-size: cover;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  margin-top: 2em; 
}

#dad-information{
  font-size: 3em;
  position: relative;
  top: 90%;
}

@media (min-width: 1px) {
  .color-dad-info{
      background-size: cover;
      margin-bottom: 20px;
      overflow: inherit;
    }
    
  .dad-info .left{
    display: none
  }

  .dad-info .right{
    float: none;
  }

  .dad-info .left img{
      height: 500px;
    }

  .fa-chevron-down{top: 40%;}
}


@media (min-width:576px) {
  .color-dad-info{
      min-height: 120%;
      overflow: hidden;
    }
    .dad-info .left{
      display: block;
    }

    .dad-info .right{
      max-width: 100%;
    }
}

@media (min-width: 768px) {
    .color-dad-info{
      min-height: 100%; 
    }

    .footer .fa{
      font-size: 3em;
      margin-left: 20px;
      margin-right: 40px;
      margin-top: 15px;
      margin-bottom: 5px;
      color: white;
    }

    .fa-chevron-down{
      top: 55%;
    }
}

@media (min-width: 992px) { 
    .dad-info .right{
      display: block;
    }

    .dad-info .left{
      display: block;
    }

    .dad-info .left img{
      height: 100%;
    }

    .color-dad-info{
      background: white;
      overflow: hidden;
    }

    .dad-info .left{
      max-height: 100%;
      height: 80%;
    }

    .dad-info .right p{
      max-height: 100%;
      font-size: 1em;
      line-height: 18px;
    }

    .dad-info .right{
      max-width: 50%;
      float: right;
    }
  }










