body, html {
	height: 100%;
}

.jumbotron{
	background: url("../Assets/contact.jpg");
}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

.intro{
	background: white !important;
	color: black;
	height: 20% !important;
}

.dadcont{
	padding-top: 3.5em;
	padding-bottom: 3.52em;
}

.intro h1{
	position: static;
}

.messaging{
	width: 100%;

}

.rainbow {
    background: red;
    background: -webkit-linear-gradient(right, red , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
    background: linear-gradient(to left, red , yellow, green, cyan, blue, violet);
	background-size: 60%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: bold;
}

.cards{
	height: 100%;
	padding-top: 3em;
}

.card{
	transition: .2s all ease-in;
}

.card:hover{
	transform: scale(1.02);
	z-index: 2;
	box-shadow: 1px 1px 10px 2px grey;
}

