body, html {
	height: 100%;
	overflow-x: hidden;
}

.jumbotron{
	background: url("../Assets/daylight.jpg");
	display:block;
    position:relative;
    top: 10%;

}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

.intro{
	background: black !important;
	color: white;
	height: 20% !important;
	position: relative;
	animation-name: slide;
	animation-duration: 1s;
}

/*Left cards*/
.dadcont{
	padding-top: 3.5em;
	padding-bottom: 3.52em;
	transition: .2s all ease-in;
	animation-name: slide;
}

/*For the Let's connect shtick*/
.intro h1{
	position: static;
	font-size: 4em;
}
/*refers to the css for the textarea*/
.messaging{ 
	width: 100%;

}
/*Card containing manual messaging*/
.manual{
	border: none;
	animation-name: slide-r;
}

/*container for both cards*/
.cards{
	height: 90%;
	position:relative;
	top: 15em;
}

.card{
	animation-duration: 2s;
}

.dadcont:hover{
	transform: scale(1.02);
	z-index: 2;
	box-shadow: 1px 1px 10px 2px grey;

}


/*animations to make things appear*/

@keyframes slide{
	from{
		right: 100%;
	}

	to{
		right: 0%;
	}
}

@keyframes slide-r{
	from{
		left: 100%;
	}

	to{
		left: 0%;
	}
}
