body, html {
	height: 100%;
	overflow-x: hidden;
}

.jumbotron{
	background: url("../Assets/daylight.jpg");
	display:block;
    position:relative;
}

.jumbotron h1{
	position: relative;
	top: 50%;
	font-size: 5em;
}

header.jumbotron.intro{
	background: black;
	color: white;
	height: 20%;
	position: relative;
	animation-name: slide;
	animation-duration: 1s;
}

/*Left cards*/
.dad-contact{
	padding-top: 3.5em;
	padding-bottom: 3.52em;
	transition: .2s all ease-in;
	animation-name: slide;
}

/*For the Let's connect shtick*/
.intro h1{
	position: static;
	font-size: 4em;
}
/*refers to the css for the textarea*/
.messaging{ 
	width: 100%;

}
/*Card containing manual messaging*/
.manual{
	border: none;
	animation-name: slide-r;
}

/*container for both cards*/
.cards{
	margin-bottom: 20px;
	height: 100%;
	margin-top: 50px;
}

.card{
	animation-duration: 2s;
}

.dad-contact:hover{
	transform: scale(1.02);
	z-index: 2;
	box-shadow: 1px 1px 10px 2px grey;

}

/*animations to make things appear*/
@keyframes slide{
	from{
		transform: translateX(-100%);
	}

	to{
		transform: translateX(0%);
	}
}

@keyframes slide-r{
	from{
		transform: translateX(100%);
	}

	to{
		transform: translateX(0%);
	}
}

@media (min-width: 1px) { 
.cards{
    height: auto;
  }

  div.manual.card.right{
	  max-width: 100%;
  }

  .dad-contact{
	  margin-top: 50px;
	  max-width: 100%;
	}
}

@media (min-width: 1000px) {
    .dad-contact{
      margin: 0;
	}
	
	div.manual.card.right{
	  max-width: 66.666667%;
	  float: right;
  	}

  .dad-contact{
	  margin-top: 50px;
	  max-width: 33.333333%;
	  float: left;
	  margin-top: 0;
	}
}